<%- include("../partials/head", { title: title }) %>

<!-- Flash Messages -->
<%- messages() %>

<h1><%= title %></h1>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
